

header{
    font-family: 'Lobster', cursive;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}


.text-block{

    font-family: 'Lobster', cursive;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: white;
    font-weight: 700;   
}

.btn{
    
    color: white;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    border-radius: 8px;
    
}
.btn:hover{
    opacity: 0.8;
    color: black;
    background-color: white;
}
.image-add{
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: url(image/Toma.jpg);
    background-size: cover;
}

.text-block h2{
    font-size: 60px;
    letter-spacing: 20px;
    border: 10px solid white;
    display: inline-block;
    text-shadow: 0 0 10px black;
}
.text-block p{
    margin: 20px;
    display: block;
    font-size: 25px;
    text-shadow: 0 0 10px black;
}
.expect-what{
    display: flex;
    
    text-align: center;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px;
 
    
    

    
}

    
.skills{
    margin: 5px;
    margin-bottom: 200px;
    width: 200px;
    height: 300px;   
    padding: 20px;
    line-height: 20px;
    position: relative;
    border: 1px solid black;

}

}
.what h1{
    font-size: 30px;
    
}
.what p{
    margin: 5px;
    margin-bottom: 60px;
    width: 300px;    
    padding: 20px;
    line-height: 20px;
    position: relative;
}
.box-sec{
    display: flex;
   
}
.btn-find{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: black;
}
.btn-find:hover{
    opacity: 0.8;
    color: black;
    border: 1px solid black;
    background-color: white;
}
.skills:hover{
    opacity: 0.8;
    color: white;
    background-color: black;
}

.half-width img{
    width: 400px;
    height: 300px;
    
}
.extra-area{
    display: flex;
    background-color: lightblue;
    border: 5px solid gray;
    border-radius: 5px;
    
    
}
.half-width{
    width: 50%;
    font-size: 20px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;

}











